    
    <div class="container">
        <div class="jumbotron text-center">
             <h1>SHCPMS</h1>
             <h6>Here is your homepage please login or register</h6>
        </div>
    </div>
